.navbar{
  background: #E32636;
  border-color: #E32636;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
}

.navbar-inverse .navbar-header  a {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 500;
	font-family: Courier;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #000000;
}

.navbar-inverse .navbar-header  a:hover {
	color: #000000;
}
