 .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
  .main section .page_container {
      position: relative;
      top: 16%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    
  .main section  {
      overflow: hidden;
    }
    
  .main section.page1 {
      background:rgb(230, 217, 200);
    }

  .main section.page1 h1 {
      float: none;
      max-width: 435px;
      width: 100%;
      display: block;
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 44px;
      color: black;
    } 
