 .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
  .main section .page_container {
      position: relative;
      top: 16%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    
  .main section  {
      overflow: hidden;
    }
    
  .main section.page1 {
      background:rgb(230, 217, 200);
    }

  .main section.page1 h1 {
      float: none;
      max-width: 435px;
      width: 100%;
      display: block;
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 44px;
      color: black;
    } 
    
    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;
    }

    body.disabled-onepage-scroll .main section .page_container {
      padding: 20px;
      margin-top: 150px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    body.disabled-onepage-scroll  section .page_container h1{
      text-align: center;
      font-size: 50px;
      width: 100%;
    }
