body { 
    background: url('http://www.tripadvisor.com/Tourism-g60763-New_York_City_New_York-Vacations.html#photos'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position: 0, 40px
}
