/* Padding for body, so it does navbar doesn't overlap with content */ 

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/* Full-Screen Background */
.container-fluid{
    background-image: url('http://cdn.printablepaper.net/samples/grid-portrait-ledger-2-index.png');
    background-repeat: repeat;
    height: 300px;
}
/* Jumbotron CSS */
.jumbotron {
    background-color: #FFD700;;
}

