/* Padding for body, so it does navbar doesn't overlap with content */ 

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.container-fluid{
    background-color: #FF8566;
    height: 450px;
}
/* Jumbotron CSS */
.jumbotron {
    margin-bottom:0;
    background-color: #FFD700;
    opacity: 0.4;
}

