/* Padding for body, so it does navbar doesn't overlap with content */ 

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/* Full Screen Background */

.container-fluid{
  background-color: #FFD700;
}

/* Jumbotron CSS */

.jumbotron {
    background-color: #FFD700;;
}
